body {
    user-select: none;
    overflow: hidden;
}

#timer-container {
    background: black;
    color: white;
    opacity: 0.6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    padding: 20px;
    text-align: right;
    width: min-content;
    position: absolute;
    left: 0;
    top: 0;
    cursor: grab;
    width: 154px;
}

.timeSlot {
    position: relative;
    float: left;
}